<!doctype HTML>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1> Reminders </h1>
                <p>
                    <a href = {% url 'todo_list_update' model_instance.id %}>Edit</a>
                </p>
                <p>
                    <a href = {% url 'todo_list_delete' model_instance.id %}>Delete</a>
                </p>
                <h2> Tasks </h2>
                <table>
                    <thread>
                        <tr>
                            <th> Task </th>
                            <th> Due date </th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for tasks in model_instance.items.all %}
                            <tr>
                                <td> <a href = {% url 'todo_item_update' tasks.id %}> {{ tasks.task }}</a> </td>
                                <td> {{ tasks.due_date | date:"N j, Y" }} </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </main>
    </body>
<html>
