<!doctype HTML>
<html>
    <head>
        <title> Todo Lists </title>
    </head>
    <body>
        <main>
            <div>
                <h1> My Lists </h1>
                <p>
                    <a href = {% url 'todo_list_create' %}>Create a new list</a>
                </p>
                <p>
                <a href = {% url 'todo_item_create' %}>Create a new item</a>
                </p>
                <table>
                    <thread>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for items in model_list.all %}
                            <tr>
                                <td > <a href={% url 'todo_list_detail' items.id %}>{{ items.name }}</a> </td>
                                <td> {{ items.items.count }} </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </main>
    </body>
<html>
